@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Italianno&family=Maven+Pro&display=swap');

/* fuentes */

/* ! font-family: 'Birthstone', cursive;  fuente para h1 header*/
/* ! font-family: 'Italianno', cursive;  fuente del logo*/

body{
    font-family: 'Maven Pro', sans-serif;
}


.title-recommended-sites{
    flex: 100%;
    margin-bottom: 1rem;
}

footer{
    background-color: #000000;
    color: white;
    padding: 5rem 0;
    border-top: 0.2rem solid tomato;
}

footer h1,h2{
    margin: 0;
}

.footer-conteiner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a i{
    margin: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

.logo-footer{
    font-size: 4rem;
    font-family: 'Italianno', cursive;
}

.div_button_viajes{
    display: flex;
    justify-content: center;
}

/*? style button */

.button_to_viajes{
    border: none;
    border-radius: 0.6rem;
    outline: 0;
    display: inline-block;
    padding: 0.63rem 1.56rem;
    color: #FFFFFF;
    background-color: #eda41c;
    text-align: center;
    cursor: pointer;
    margin: 1rem;
}

.button_to_viajes:hover{
    background-color: #edb140;
}