@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Italianno&family=Maven+Pro&display=swap');

/*? redondeado de logos*/
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

/*? Colors*/

.body_main{
    background: rgb(185,8,29);
    background: linear-gradient(90deg, rgba(185,8,29,0.8743872549019608) 0%, rgba(150,38,36,1) 35%, rgba(240,101,98,1) 100%);
}

.header_main{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,229,229,0.7903536414565826) 100%);  
}

.btn_submit{
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*? goole fonts */

body{
    font-family: 'Maven Pro', sans-serif;
}

.logo{
    font-family: 'Italianno', cursive;
}