@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Italianno&family=Maven+Pro&display=swap");
@import url(./style.css);


/*? body */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/*? - Nav   */

header a{
  text-decoration: none;
  color: white;
}

/*? Hero  */

.hero_img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.05)), url(../img/pag_viajes.jpg);
  height: 40vh;
}

.hero_img{
  height: 80vh;
}
.search_container{
  margin: 49px 0;
}
.hero_content{
  max-width: 600px;
  margin: 0 auto;
}


.title_cards {
  font-size: 2rem;
  text-align: center;
  padding: 3.5rem 0;
  font-family: "Maven Pro", sans-serif;
}


/*?    ADS    */

.ads {
   
 background-image: linear-gradient(to right,rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.01) 70%), url(../img/viajes_ads.jpg);
}

.ads .container {
  padding: 10vh 0 5vh;
}

.ads_bg1{
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.20) 50%, rgba(0, 0, 0, 0.01) 70%), url(../img/viajes_ads.jpg);
}
.ads_bg2{background-image: linear-gradient(to right,rgba(0, 0, 0, 0.20) 50%, rgba(0, 0, 0, 0.01) 70%), url(../img/viajes_2.jpg);
}
.ads_bg3{background-image: linear-gradient(to right,rgba(0, 0, 0, 0.20) 50%, rgba(0, 0, 0, 0.01) 70%), url(../img/viajes_3.jpg);
}



/*? Cards*/

.cards_container {
  /* margin: 3rem; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem;
}

.row {
  max-width: 1100px;
  margin: 0 auto 0;
}

.card_grid {
  /*? grid */
  display: grid;
  grid-template-rows:  13rem 10rem 5rem;
  grid-template-areas: "image" "text" "boton";
  /*? estilo de la card */
   border-radius: .4rem; 
  background-color: #fff;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); */
  transition: 0.5s ease;
  cursor: pointer;
  overflow: hidden;
}

.card_grid:hover {
  transform: scale(1.03);
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%); */
}

.card_grid div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.card_image {
  background: url("../img/dummy_250x200.png");
  grid-area: image;
  background-size: cover; 
}

/*? imágenes de cards*/


.img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/* 
.f1 {
  background: url("../img/image-card-1.jpg");

}

.f2 {
  background: url("../img/image-card-2-temporal.jpg");
}

.f3 {
  background: url("../img/image-card-3-barcelona.jpg");
}

.f4{
  background: url(../img/egy_box2.jpg);
}

.f5{
  background: url(../img/cl_box4.jpg);
}

.f6{
  background: url(../img/rus_box3.jpg);
}

.f7{
  background: url(../img/destino_bg2.jpg);
}

.f8{
  background: url(../img/destino_bg6.jpg);
}

.f9{
  background: url(../img/nyc_hotel.jpg);
}

.f10{
  background: url(../img/jp_hotel.jpg);
}

.f11{
  background: url(../img/esp_hotel.jpg);
}

.f12{
  background: url(../img/egy_hotel.jpg);
}

.f13{
  background: url(../img/rus_hotel.jpg);
}

.f14{
  background: url(../img/eua_hotel.jpg);
}

.f15{
  background: url(../img/irl_hotel.jpg);
}

.f16{
  background: url(../img/arg_hotel.jpg);
}

.f1,.f2,.f3,.f4,.f5,.f6,.f7,.f8,
.f9,.f10,.f11,.f12,.f13,.f14,.f15,.f16{
  grid-area: image;
  background-size: cover; 
}
*/

/*? texto y botón de card*/

.card_text {
  text-align: center;
  grid-area: text;
  font-family: "Maven Pro", sans-serif;
  padding: 0 10px;
}

.card_text h2 {
  margin: 1.1rem 0;
}

.card_text p {
  margin: 1rem 0;
}

.card_btn {
  grid-area: boton;
}

.card_btn button {
  font-family: "Maven Pro", sans-serif;
}



  /*?--BTN---*/

.btn_hover {
  width: 50%;
  height: 50%;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 3.5px;
  transition: all 0.4s ease-in-out;
}

.btn_hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn_hover:focus {
  outline: none;
}

.btn_hover.bn18 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}


.btn_mas{
  width: 300px;
}

.separador {
  padding: 5em 0;
}

/*? Js */


.hidden{
  max-height: 0;
  transition: max-height 0.5s;
  transition: all 1s;
  border-bottom: .5px solid #80808033
}

.toggle_hidden{
    max-height: 33rem;
    transition: max-height 0.5s;
    transition: all 1s;
    border-bottom: 0;
}


/*?  Search_bar    */

.search_bar{
  width: calc(100% - 200px);
  padding: 10px;
  margin: none;
  border: none;
  outline: none;
}
.search_btn{
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  background-color: crimson;
  font-weight: bold;
  border: 0;
  border-radius: 2.5px;
  margin-left: -5px;
  cursor: pointer;
  transition: background-color 1s;
  position: relative;
}

.search_btn:hover{
  background-color: rgb(255, 0, 0);
  transition: background-color 1s;
  cursor: pointer;
}


  
@media screen and (max-width: 780px){
 
  .btn_mas{
    width: 50%;
    display: none;
  }
  .show_more{
    display: none;
  }
  .hidden{
    display: none!important;
  }

  .card_grid{
      flex: 100%;
      box-shadow: none;
  }

  .active a {
      color: black;
  }

  .cards_container{
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
  }

  .card:hover{
    transform: scale(1.02);
  }

  .toggle_hidden{
    max-height: calc(2*(33rem + 2rem));
  }

  .search_container{
    width: 100%;
  }

  .hero_text {
    width: 100%;
    padding: 0;
}


}


@media screen and (max-width: 480px){

  .cards_container{
    grid-template-columns: repeat(1, 1fr);
    gap: .8rem;
  }

  .toggle_hidden{
    max-height: calc(4*(33rem + 2rem));
  }

  .card_grid{
    margin-bottom: 5em;
    border-radius: 0;
  }

  .search_bar{
    width: calc(100% - 130px);
  }
  

}


.checked {
  color: orange;
}
.stars{
  display: block!important;
}
.card_grid{
  grid-template-rows: 15rem 15rem 3rem;
  border-radius: 0;
  justify-content: start;
}
.card_grid .btn_hover{
  width: 100%;
  height: 100%;
  border-radius:0 ;
}
.card_grid div{
  justify-content: start;
}
.cards_container{
  gap: .7rem;
}

.card_text p {
  margin: 0.5rem 0;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 38px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.sub_text{
  color: gray;
  font-size: 15px;
  text-transform: capitalize;
}






/* 
.show_more .arrow {
  content: "\f077";
  font-family: 'FontAwesome';
  margin: 0 10px 0 0;
  transform: rotate(0deg);
  display: inline-block;
} */


/*?     show more       */

.show_more{
  margin-inline: auto;
  text-align: center;
  color: gray;
  cursor: pointer;
  background-color: #8080802e;
  padding: 16px;
  width: 165px;
  border-radius: 3.5px;
}

.show_more:hover {
background-color: rgb(0 0 0 / 15%);
transition: all 1s;
color: rgb(72 71 71 / 52%);
}

.show_more i {
  display: inline-block;
  margin: 0 10px 0 0;
  transform: rotate(0);
  transition: transform .6s;
} 

.show_more p{
  margin: 0;
  display: inline-block;
}


.separador {
  padding: 4em 0;
}

.show_down i{
  transform: rotate(180deg)!important;
  transition: transform .6s;
}
.show_down .separador {
  border-top: 0;
}


.back_top::before {
  content: "\f077";
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 21px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.section_title h2 {
  font-size: 2rem;
  font-family: "Maven Pro", sans-serif;
}

.card_grid{
  box-shadow: 1px 1px 20px 1px #80808047
}