@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Italianno&family=Maven+Pro&display=swap");
@import url(./style.css);

/*? global */

* {
  box-sizing: border-box;
}

a {
  color: #000000;
}

body {
  font-family: "Maven Pro", sans-serif;
}

main{
  background-color: unset;
}


.row {
  max-width: 1100px;
  margin: 0 auto 0;
}

.hero_img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/about_us.jpg);
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero_img{
  height: 80vh;
}
.search_container{
  margin: 49px 0;
}
.hero_content{
  max-width: 600px;
  margin: 0 auto;
}


article h1 {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

article p {
  padding: 5rem 0;
}

hr {
  margin: 2rem 0;
}
.social-nav{
  line-height: 40px;
}

.main_nav{
  line-height: 40px;
}

